*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding-left: 12px;

}
li{
    list-style: none;
}
.gamecontainer{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(222, 226, 240);
}
.display
{
    margin-top: 10px;
}
.info{
    /* margin-top: 10px; */
    font-size: 25px;
    font-weight: 450;
}
.gameinfo{
    /* padding: 0px 34px; */
    margin-left: 40px;
}
.gameinfo h1{
    font-size: 2.5rem;
}
.imgbox img{
    width: 0px;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: rgb(222, 226, 240);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
}
@media  screen and (max-width: 825px) {
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
    
}